<footer class="bg-pink-300 border-t-4 border-black relative overflow-hidden">
    <div class="absolute inset-0 flex items-center justify-center opacity-10">
        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <pattern id="zigzag" patternUnits="userSpaceOnUse" width="40" height="40" patternTransform="rotate(45)">
                <path d="M0 10 L10 0 L20 10 L30 0 L40 10" fill="none" stroke="black" stroke-width="2"/>
            </pattern>
            <rect width="100%" height="100%" fill="url(#zigzag)"/>
        </svg>
    </div>

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 relative z-10">
        <div class="flex flex-col lg:flex-row justify-between items-center space-y-4 lg:space-y-0">
            <p class="text-black font-bold transform -rotate-1 bg-yellow-300 p-2 border-2 border-black">&copy; 2024
                AppsByLuke</p>
            <a href="/privacy-policy" target="_blank"
               class="text-black hover:text-white bg-teal-200 hover:bg-teal-500 font-bold p-2 border-2 border-black shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] hover:shadow-[1px_1px_0px_0px_rgba(0,0,0,1)] transition-all duration-300 transform hover:rotate-1 text-sm">
                Privacy
            </a>
            <a href="/terms-of-service" target="_blank"
               class="text-black hover:text-white bg-teal-200 hover:bg-teal-500 font-bold p-2 border-2 border-black shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] hover:shadow-[1px_1px_0px_0px_rgba(0,0,0,1)] transition-all duration-300 transform hover:rotate-1 text-sm">
                Terms
            </a>
            <a href="https://github.com/logical-luke/appsbyluke" target="_blank"
               class="text-black hover:text-white bg-orange-200 hover:bg-orange-500 font-bold p-2 border-2 border-black shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] hover:shadow-[1px_1px_0px_0px_rgba(0,0,0,1)] transition-all duration-300 transform hover:rotate-1 text-sm">
                Get Code of This Website (Legally, for Free)!
            </a>
            <div class="flex space-x-4">
                <a href="https://github.com/logical-luke" target="_blank"
                   aria-label="GitHub Profile"
                   class="text-black hover:text-white bg-purple-400 hover:bg-purple-500 font-bold p-3 min-w-[48px] min-h-[48px] border-4 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] transition-all duration-300 transform hover:rotate-2 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24">
                        <path fill="currentColor"
                              d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"/>
                    </svg>
                    <span class="hidden lg:inline lg:ml-2">GitHub</span>
                </a>
                <a href="https://x.com/appsbyluke" target="_blank"
                   aria-label="Twitter Profile"
                   class="text-black hover:text-white bg-green-400 hover:bg-green-500 font-bold p-3 min-w-[48px] min-h-[48px] border-4 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] transition-all duration-300 transform hover:rotate-2 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24">
                        <path fill="currentColor"
                              d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"/>
                    </svg>
                    <span class="hidden lg:inline lg:ml-2">Twitter</span>
                </a>

                <a href="https://www.linkedin.com/in/logical-luke" target="_blank"
                   aria-label="LinkedIn Profile"
                   class="text-black hover:text-white bg-blue-400 hover:bg-blue-500 font-bold p-3 min-w-[48px] min-h-[48px] border-4 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] transition-all duration-300 transform hover:-rotate-2 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24">
                        <path fill="currentColor"
                              d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77Z"/>
                    </svg>
                    <span class="hidden lg:inline lg:ml-2">LinkedIn</span>
                </a>

            </div>
        </div>
    </div>

    <div class="absolute bottom-0 left-0 w-16 h-16 bg-yellow-400 border-4 border-black transform -rotate-12"></div>
    <div class="absolute top-0 right-0 w-12 h-12 bg-blue-400 border-4 border-black rounded-full"></div>
</footer>