---
import {Image} from 'astro:assets';
---

<div class="absolute top-4 left-1/2 lg:left-6 transform -translate-x-1/2 lg:-translate-x-0 z-20">
    <a href="/" class="inline-block">
        <Image
            src='/appsbyluke.svg'
            width="200"
            height="200"
            loading="eager"
            alt="AppsByLuke Logo"
            class="w-32 md:w-48"
        />
    </a>
</div>
