---
import {Image} from 'astro:assets';
---

<div class="absolute top-4 left-1/2 lg:left-6 transform -translate-x-1/2 lg:-translate-x-0 -rotate-2 z-20">
    <a href="/" class="inline-block">
        <Image
            src='/appsbyluke.svg'
            width="256.2"
            loading="eager"
            height="120"
            alt="AppsByLuke Logo"
            class="w-48 md:w-64"
        />
    </a>
</div>
