---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="AppsByLuke - Bringing Your App Ideas to Life">
	<div class="flex flex-col">
		<Navbar />
		<Hero />
		<Footer />
	</div>
</Layout>