---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Faq from "../components/Faq.astro";
---

<Layout
	title="AppsByLuke: Custom Web App Development | Full-Stack Solutions"
	description="Bring ideas to life as web apps. Flexible subscriptions or tailored packages. Full-stack solutions: MVPs to enterprise apps. Expertise in JS, TS, PHP, and more.">
	<div class="flex flex-col">
		<Navbar />
		<Hero />
		<Faq />
		<Footer />
	</div>
</Layout>

<script>
    document.addEventListener('astro:page-load', () => {
        if (window.location.hash === '#faq') {
            const faqSection = document.getElementById('faq');
            if (faqSection) {
                faqSection.scrollIntoView({ behavior: 'smooth' });
            }
        }
    });
</script>